*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.abc{
    font-size: 20px;
    background-color: red;
}

@media (min-width:768px) {
    .abc{
        font-size: 47px;
        background-color: gray;
    }
}